body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: 700;
    padding: 8px 16px;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

ul a, .hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    width: 800px;
    margin: auto;
    padding: 0;
}


.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.nav-links {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.hero .content {
    display: flex;
    align-items: center;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img-placeholder {
    width: 50%;
    height: 150px;
    text-align: center;
    background-color: #E5E7EB;
}

.info-box h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.cards {
    display: flex;
    gap: 16px;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}

.box {
    height: 100px;
    width: 100px;
    border: #3882F6 solid 2px;
    border-radius: 20%;
}

.quote-box {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    color: #1F2937;
    text-align: left;
}

.quote-author {
    text-align: right;
    font-weight: 700;
    color: #1F2937;
}

.cta-container {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px 48px;
}

.cta-button {
    margin: 0;
    border: 2px solid white;
    margin: auto 0;
}

.footer {
    text-align: center;
    padding: 24px 0;
}

.header, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero, .info-box, .quote-box, .cta {
    padding: 60px 0;
}